
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<table width="100%" cellpadding="0" cellspacing="0" border="0" data-mobile="true" dir="ltr" data-width="600" style="background-color: rgb(255, 255, 255); font-size: 16px;">
  <tbody><tr>
    <td align="center" valign="top" style="padding:0;margin:0;">

      <table align="center" bgcolor="#ffffff" border="0" cellspacing="0" cellpadding="0" width="600" class="wrapper" style="width: 600px;">
        <tbody><tr>
          <td align="left" valign="top" style="margin:0;padding:0;">

            <table border="0" cellpadding="0" cellspacing="0" align="center" data-editable="image" data-mobile-width="0" style="margin-right: auto; margin-left: auto;" width="295">
              <tbody><tr>
                <td valign="top" align="left" style="margin: 0px; padding: 0px 0px 20px; width: 600px; height: 160px;"><img src="http://wexfordbus.com/wp-content/themes/wexford-bus/images/wexfordbus_logo.gif" width="295" data-src="|600|160|295|117|0|0|1" data-origsrc="http://wexfordbus.com/wp-content/themes/wexford-bus/images/wexfordbus_logo.gif" height="117" style="border: 0px none transparent; display: block;"></td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        <tr>
          <td align="left" valign="top" style="margin:0;padding:0;">

            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" data-editable="text" style="margin-right: auto; margin-left: auto;">
              <tbody><tr>
                <td style="padding: 0px; margin: 0px; font-family: Arial, Helvetica, sans-serif; color: rgb(38, 38, 38);">



                  <div><span style="font-size: 14px;">

                        Hi, <br><br>

                        Thank you for joining the trial of our Online Seat Reservation System, we hope you find this to be useful. <br><br>

                        To log in and book your seat please follow the link <%= @url %> <br><br>

                        Your login details are<br>
                        Username: <strong><%= @commuter.username %></strong><br>
                        Password: <strong><%= @commuter.password %></strong><br>
                        <strong>This password supersedes any earlier password send to you</strong><br><br>

                        Before you get started we would like to draw your attention to a few points: <br><br>
                        1.     You will have the ability to book a seat on one of four of our daily services from Dublin Airport i.e. the 15.30; 16.30; 17.00 (ex DCU) and 17.15 services, Monday to Friday only. <br><br>
                        2.     You can reserve a seat on a these services up to one hour before the service departs from the terminus i.e. Dublin Airport. <br><br>
                        3.     If you book a seat and do not turn up for your allocated seat this will be recorded.  We ask all commuters to consider other passengers, if you don’t use your seat someone else who could have travelled may be left behind.  If you don’t turn up for your reserved seat on three or more occasions you may be excluded from the Seat Reservation System.<br><br>
                        4.     Please note that you can manage and cancel your reservations in the ‘Manage Reservations’ section.  If you cannot travel at your reserved time please be sure to cancel your reservation at least one hour before the service departs from the terminus i.e. Dublin Airport.<br><br>
                        5.     On boarding, you must advise the driver that you have reserved a seat and give him your name.  The driver will then let you know your allocated seat, you must sit on your assigned seat.<br><br>

                        Thank you and have a great day! <br><br>

                        The Wexford Bus Team.<br><br><br>


                    </span></div>

              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </td>
  </tr>
  </tbody></table>



</body>
</html>