<form name="myform" method="post" action="available_times"><div align="center">

  <%# SELECT ORIGIN #%>

  <select name="origin" size="1"
          onchange="setOptions(document.myform.origin.options
                  [document.myform.origin.selectedIndex].value,
                  document.myform.destination);">

    <!-- This is commented out for testing purposes -->


    <option value="">Going from</option>
    <!--<option value="Arklow">Arklow</option>
    <option value="Camolin">Camolin</option>-->
    <option value="Cherrywood/Wyattville (Luas)">Cherrywood/Wyattville (Luas)</option>
    <!--<option value="Custom House Quay">Custom House Quay</option>-->
    <option value="Dublin Airport">Dublin Airport</option>
    <!--<option value="Enniscorthy">Enniscorthy</option>
    <option value="Ferns">Ferns</option>-->
    <option value="Georges Quay">Georges Quay</option>
    <!--<option value="Gorey">Gorey</option>-->
    <option value="Kilmacanogue">Kilmacanogue</option>
    <option value="Leeson Street Upper">Leeson Street Upper</option>
    <option value="Lr Merrion St (Davenport)">Lr Merrion St (Davenport)</option>
    <option value="Montrose Hotel (UCD)">Montrose Hotel (UCD)</option>-->
    <option value="North Wall (Clarion Hotel)">North Wall (Clarion Hotel)</option>
   <!-- <option value="Oylgate">Oylgate</option>-->
    <option value="Swords Road (Jct Collins Ave)">Swords Road (Jct Collins Ave)</option>

    <!--<option value="Wexford">Wexford</option>-->
  </select><br> <br>

  <%# SELECT DESTINATION #%>

  <select name="destination" size="1">
    <option value="">Going to</option>

  </select><br> <br>

  <%# SELECT DATE #%>
  <%# 1. Autoclose Calendar #%>
  <%# 2. Today Highlight Calendar #%>
  <%# 3. Format of the date: dd/mm/yyyy #%>

  <input type="text" data-behaviour='datepicker' name="date" value="<%=Time.now.strftime("%Y/%m/%d")%>" id="date" placeholder="Pick a date..." readonly="true" style="cursor: auto">

  <input type="hidden" name="current_commuter" value="<%=current_commuter.username%>" >


  <script type="text/javascript">
      $(document).ready(function(){
          $('[data-behaviour~=datepicker]').datepicker(
                  {autoclose:true, todayHighlight: true, format: "yyyy/mm/dd"});
      })
  </script>
  <br>



  <input type="submit" name="go" value="Reserve">


</div></form>

</br></br>
<p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
</br></br></br>

