<% if admin %>

<%= form_for Commuter.new, :as => :commuter, :url => warn_commuter_path do |f| %>
    <p>
      <%= f.label 'Send warning to commuter:' %><br/>
      <%= f.text_field :username, :id => "input_fields" %>
    </p>

    <p>
      <%= f.submit 'Warn' %>&nbsp;&nbsp;&nbsp;
    </p>

<% end %>

    </br></br></br>
    <p> <a id="home_button" class="btn btn-primary" href="/home" role="button">Home</a></p>
    </br></br></br>

<% else %>

<% flash[:error] = "You need administrator account to view this page" %>

<% end %>