/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */


/****** MOBILE CSS *****/

#mobile_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mobile_background{
    background-color: #ffffff;
}

#mobile-options{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#mobile-table-full{
    margin: 0px;
    font-size: 80%;
}

#mobile-table-full-margins{
    width: 100%;
    margin-left: 0%;
    font-size: 80%;

}

#h4-margin{
    margin-left: 40%;
    font-family: Arial, Helvetica, sans-serif;
}




/****** DESKTOP CSS ******/

#display-reservations-title{
    float: left;
}

#home_button{
    float: left;

}

#signout_button{
   float: right;
}


#center_login{
    text-align: center;

    height: 100px;
}


#input_fields{
    height: 100%;
}

.Ctr { width:936px;
    margin: 0px auto;
    background-color: #003bb3  }

#Hed {
    width:936px;
    height: 125px;
    float:left;
    background-image: url("http://www.littleladybird.ie/images/stripe.png")  ;
    background-repeat: repeat-y;
    background-size: 100%;

}

#Options{
    align-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

#Options p {
    margin: auto;
    margin-top: 10px;
    width: 30%;
}

#Logo {
    float:left;
    margin-left: 30px;}


#HedRight {
    float:right;
    margin:20px 0 0 0;
    margin-right: 30px;
}

#HedRight div { clear:both; float:right; margin:5px 0;  }

#HedRight li { float:left; margin:0 0 0 10px; }

#HedRight li a { color:#8B8EB7; text-decoration:none; font-size:1em; font-weight: bold;}

#HedRight li a:hover { color:#181E6F; }


#SocialMedia li { margin:0 0 0 5px; }

#Tagline { }

#Tagline h2 { font-size:1em; color:#181E6F; font-weight:bold;}



#Body { width:936px;
    height:100%;
    float: left;
    background-image: url("http://www.littleladybird.ie/images/stripe.png")  ;
    background-repeat: repeat-y;
    background-size: 100%;
}

#Foot {
    width:915px;
    background:#181e6f;
    padding:10px;
    margin:10px 0 10px 0;
    margin-left: 10px;
    float:left;
}

#FootNav {
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(34, 34, 34);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(34, 34, 34);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(34, 34, 34);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(34, 34, 34);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    height: 0px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(34, 34, 34);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 915px;

}

#menu-foot-container{
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-left-color: rgb(34, 34, 34);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(34, 34, 34);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(34, 34, 34);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(34, 34, 34);
    display: block;
    font-style: normal;
    font-weight: normal;
    height: 0px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(34, 34, 34);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    vertical-align: baseline;
    width: 915px;
    list-style: none;

}

#Foot li {  float:left;
            list-style: none;

}

#Foot li a, #Foot li  {
    color:#fff;
    text-decoration:none;
}

#Foot li a:hover { color:#E77500;}

#Foot li { margin:-10px 0 0 15px ; }


#FootCon { float:right;
    font-size: 11px;
    list-style: none;
}


#SocialMedia li { margin:0 0 0 5px; list-style: none }



